/* =================================
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 3em;
}

h1,
h3 {
  text-align: center;
}

h1,
h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 1em;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
  margin: 0;
}


.name,
.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

.name a,
.main-nav a {
  padding: 10px 15px;
  display: block;
}


/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
  text-align: center;
}

.main-header {
  text-align: center;
	/*padding: 1em 0;*/
	background-color: #F1E291;
	margin-bottom: 30px;

	padding-top: 1.5em;
	padding-bottom: 1.5em;

}


.main-footer {
	text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}

.email {
	margin-top: -55px;
}

.dorysmap {
  width: 60%;
  height: 550px;
	margin-top: 5em;
}

.icon-location {
  width: 60px;
  position: absolute;
  top: 40px;
  right: 17%;
  z-index: 2;
}

figure {
	margin: 0;
	line-height: 0;
  position: relative;

}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em;
	background: rgba(19,43,102, .85);
  position: absolute;
  width: 60%;
  bottom: 0;
	margin-left: 20%;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px),
       (min-width: 700px) and (orientation: landscape) {

	body {
	  padding-top: 96px;
	}

	.main-header {
	  position: fixed;
	  box-shadow: 0 1px 4px rgba(0,0,0,.4);
	  width: 100%;
	  top: 0;
		z-index: 1000;
	}

	.wrap {
		min-height: calc(100vh - 89px);
	}

	.container {
		width: 80%;
		max-width: 1150px;
		margin: 0 auto;
	}

	.name,
	.main-nav,
	.main-nav li {
	  display: inline-block;
	}

	.name {
		width: 280px;
		margin-right: 50px;
	}

	.main-nav li {
		margin-right: 12px;
	}
  /*
	.main-nav li {
	  margin-right: 12px;
		float: left;
	}

	.main-nav {
		float: right;
	}

  .name {
		float: left;
  }*/

.col {
  display: inline-block;
  width: 50%;
  margin-right: -5px;
  vertical-align: top;
  padding-right: 1em;
  padding-left: 1em;
}

.group::after {
  content: "";
  display: table;
  clear: both;
}

  }
